@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cookie|Trocchi&display=swap');

h1{
    font-family: 'Cookie', cursive;
}

h2{
    font-family: 'Alfa Slab One', cursive;
}

h3{
    font-family: 'Trocchi', serif;  
}


