@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Princess+Sofia|Trocchi&display=swap');

h1{
    font-family: 'Princess Sofia', cursive;
}

h2{
    font-family: 'Alfa Slab One', cursive;
}

h3{
    font-family: 'Trocchi', serif;  
}

header,footer, nav{
    background-color:#ff92c5;
}

